<h1>Commits list</h1>

<ul>
{{#this}}
  <li>
    <div class="head">
      <div>{{commit.message}}</div>
      <div>{{commit.author.name}} — <span>{{sha}}</span></div>
      <div>{{commit.author.date}}</div>
    </div>
  </li>
{{/this}}
</ul>
